dj-rest-auth==7.0.0
Django==5.1.2
django-allauth==65.1.0
django-cors-headers==4.6.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
idna
jsonpatch
jsonpointer==2.1
packaging
platformdirs
pluggy
psycopg2-binary==2.9.10
pycosat
pycparser
PyJWT==2.9.0
PySocks
python-dotenv==1.0.1
requests
sqlparse==0.5.1
tqdm
truststore
urllib3
users==1.0.dev0
wheel==0.43.0
zstandard